@tailwind base;
@tailwind components;
@tailwind utilities;


/* .aqua-effect{
    box-shadow: inset 0 13px 15px rgba(255,255,255,0.5), 0 3px 5px rgba(0,0,0,0.2), 0 10px 13px rgba(0,0,0,0.1);

} */
.aqua-effect::before{
    content: "";
    background: linear-gradient(rgba(255, 255, 255, 0.247) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 5px;
    height: 50%;
    left: 0%;
    position: absolute;
    top: 0px;
    transition: all ease .3s;
    width: 100%;
    pointer-events: none;
}
.profile-pic{
    display:flex;
    align-items:center;
    /* margin-left:11px; */
    cursor:pointer;
    /* background:red; */
    /* padding-top:.2em; */
}
.profile-pic img{
    border-radius:6px;
    /* margin-top:.2em; */
}


    .dropdown{
        z-index: 3;
        position: absolute;
        transition: .05s;
        right: 0;
        height: fit-content;
        width: 20em;
        margin-top: 1em;
        border-radius: 6px;
        visibility: hidden;
        padding: 2em 2em;
        background-color: white;
        
    }
    .show-dropdown{
        visibility: visible;
    }
    
    .dropdown-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dropdown-input-cont{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .bg-img img{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    nav{
        z-index: 3 !important; 
        /* Fix this */
    }
